<%- include('../partials/head')%>

    <%- include('../partials/navbar')%>
        <section
            class="container-fluid mt-5 d-flex flex-column items-center justify-center rounded-lg p-5 border border-dark mx-auto">
            <h1>Comments</h1>
            <ul class="list-group-flush list-unstyled">
                <hr>
                <% for(let c of comments) {%>
                    <li class="list-none list-group-item-action list-group-item-light p-2 rounded-lg my-2 ">
                        <%=c.comment%><br> - <b>
                                <%=c.username%>
                            </b>

                            - <a href="/comments/<%= c.id %>">details</a>
                    </li>
                    <% }%>
                        <hr>
            </ul>
            <a href="/comments/new"><button class="btn btn-outline-dark">New Comment</button></a>
        </section>
        <%- include('../partials/footer')%>